
{% extends 'layouts/manager.twig' %}

{% block content %}

	<div id="root">
	</div>

{% endblock %}

{% block scripts %}
	{{ parent() }}

	<script type="text/javascript">
	var params = getQueryParams();
	console.log(params);
	ReactDOM.render(
		React.createElement(Navigator, {callback: params['callback'], multiple: params['multiple']}),
		document.getElementById('root')
	);
	</script>
{% endblock %}