
{% extends 'layouts/manager.twig' %}

{% block content %}
	<?= js(['fetch.js', 'Api.js', 'bundle.js']) ?>

	<div id="root">
	</div>
{% endblock %}

{% block scripts %}
	{{ parent() }}

	<script type="text/javascript">
	ReactDOM.render(
		React.createElement(Navigator),
		document.getElementById('root')
	);
	</script>
{% endblock %}